<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="${blogData.avatar}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">${blogData.title}</p>
                    <p class="subtitle is-6"><strong>${blogData.username}</strong> - ${blogData.email}</p>
                    </div>
                </div>
        </div>
        <div class="card-content">
            <div class="content">
                ${blogData.blog}
            </div>
        </div>
        <div class="card-footer">
            <h3 class="card-footer-item">Comments</h3>
        </div>
    </div>
</div> 
<div class="section">
    <div class="container">
${commentData.map(comment => `
    <div class="box">
        <article class="media">
        <div class="media-left">
            <figure class="image is-32x32">
            <img src="${comment.avatar}" alt="Image">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
            <p>
                <strong>${comment.username}</strong> <small>${comment.email}</small> 
                <br>
                ${comment.comment}
            </p>
            </div>
        </div>
        </article>
    </div>
    `).join('')}
    </div>    
</div>
${ userData.is_logged_in === true ? `
<section class="section">
    <div class="container box">
        <form action="/blog/comment" method="POST">
            <div class="field">
                <label class="label">Add Comment as ${userData.username}</label>
                <div class="control">
                    <textarea class="textarea" name="comment" placeholder="Add Comment"></textarea>
                </div>
            </div>
            <input type="hidden" name="user_id" value="${userData.user_id}">
            <input type="hidden" name="blog_id" value="${blogData.id}">
            <div class="control">
                <button class="button is-primary is-small">Submit Comment</button>
            </div>
        </form>
    </div>
</section> ` : `
<section class="section">
    <div class="container">
        <h3 class="subtitle">Please <a href="/users/login">login</a> to comment</h3>
    </div>
</section> `}